table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}
                
table tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.fullheight {
    height: 100vh;
}

.navbar {
    margin-bottom: 0px;
}

main {
     margin: 0 50px 0;
}

#wins-table tr td:first-child::before {
    content: none;
    min-width: 0em;
    margin-right: 0em;
}


.header-fixed thead th {
    text-align: left;
    top:0;
    position: sticky;
    background-color: white;
}

.header-fixed {
    overflow-y: auto;
    table-layout: fixed;
}