table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}
                
table tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.fullheight {
    height: 100vh;
}

.navbar {
    margin-bottom: 0px;
}

main {
     margin: 0 50px 0;
}

#wins-table tr td:first-child::before {
    content: none;
    min-width: 0em;
    margin-right: 0em;
}

/*.header-fixed tbody {*/
    /*display: block;*/
    /*max-height: 450px;*/
    /*overflow-y: scroll;*/
/*}*/

/*.header-fixed thead, table tbody tr {*/
    /*display: table;*/
    /*width: 150%;*/
    /*table-layout: fixed;*/
/*}*/